fastapi==0.120.2
uvicorn[standard]==0.38.0
pymongo==4.15.3
python-dotenv==1.2.1
pydantic==2.12.3
pydantic-settings==2.11.0
requests==2.32.5
python-dateutil==2.9.0
apscheduler==3.11.0
yfinance==0.2.66
pandas==2.3.3
numpy==2.3.4

